.content-list > li {
  font-size: var(--font-size);
}

#article-1 {
  .article-left {
    flex-direction: row;
  }

  .article-right a {
    width: 80%;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1 / 1;
  }

  .article-content-left,
  .article-content-right {
    width: 50%;
    word-wrap: break-word;
  }
}

#article-2 {
  .robe-tommy {
    display: flex;
    gap: 5px;

    a img {
      aspect-ratio: 8 / 5;
    }
  }
}

#article-3 {
  .step {
    display: grid;
    column-gap: 30px;
    row-gap: 15px;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .step a {
    width: 90%;
  }

  .step-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

#article-4 {
  .content-sub-list {
    gap: 30px;
  }

  .prj {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .prj-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 10px;
  }

  .prj-name {
    font-size: calc(var(--font-size) + 2px);
    font-weight: bold;
    text-transform: uppercase;
  }

  .prj-time {
    font-weight: bold;
    min-width: max-content;
  }

  .prj-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 5px;

    a {
      color: var(--secondary);
    }
  }

  .prj-des ol {
    margin-left: 5px;
  }

  .prj-des ol ul {
    margin-left: 20px;
  }
}

/* #article-4 .article-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
} */

@media (min-width: 600px) and (max-width: 992px) {
  #article-2 .robe-tommy {
    flex-direction: column;
  }

  #article-3 .step {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;
    column-gap: 0px;

    a {
      width: 50%;
    }
  }

  #article-3 .step-3 {
    grid-template-columns: repeat(2, 1fr);
    a {
      width: 60%;
    }
  }
}

@media (max-width: 600px) {
  #article-1 .article-content {
    flex-direction: column-reverse;
  }

  #article-1 .article-right a {
    width: 50%;
  }

  #article-4 .prj-header {
    flex-direction: column;
    align-items: flex-start;
  }
}
